div{
    display: inline-block;
    margin: 2ex;
    padding: 20px;
}
p{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button {
    size: 4ex;
    font-size: large;
    background-color: darkturquoise;
}